/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 jun. 2022, 09:59:14
    Author     : USUARIO
*/

/* Selectores de identificador*/

#PrimeraColumna{
    float: left;
    width: 49%;
}
#SegundaColumna{
    float: right;
    width: 49%;
    margin-left: 52%;
    
}